html {
	scroll-behavior: smooth;
}

body {
	min-width: 20rem;
	color: #000;
	font-size: 1rem;
}

.shell {
	max-width: 68rem;
	margin: 0 auto;

	/* Mobile */
	@media ($mobile) {
		width: 100%;
		padding: 0 3.0313rem;
	}
}

main {
	height: 100%;
	width: 100%;
	margin-top: 10.3125rem;

	@media ($mobile) {
		margin-top: 3.3125rem;
	}
}

.banner {
	width: 100%;

	.content__banner {
		width: 100%;
		position: relative;

		.imagem__desktop {
			@media ($mobile) {
				display: none;
			}
		}

		.imagem__mobile {
			display: none;

			@media ($mobile) {
				display: block;
			}
		}

		img {
			width: 100%;
		}

		h1 {
			@include titulo;
			color: $white;
			position: absolute;
			bottom: 3.7313rem;
			font-weight: 600;
			text-transform: uppercase;

			@media ($mobile) {
				bottom: initial;
				top: 4rem;
			}

			&.sustentabilidade {
				@media ($mobile) {
					font-size: 1.5rem;
				}
			}

			&.canal {
				@media ($mobile) {
					max-width: 17.6875rem;
					line-height: 2.875rem;
					top: 3rem;
				}
			}

			&.ouvidoria {
				bottom: 4.6875rem;
				margin-bottom: 0;

				@media ($mobile) {
					max-width: 10.75rem;
					line-height: 2.875rem;
					top: 3rem;
				}
			}
		}
	}
}

.section__breadcrumb {
	width: 100%;
	padding-top: 5.5rem;

	@media ($mobile) {
		padding-top: 2rem;
	}

	.breadcrumbs {
		width: 100%;
		display: flex;
		align-items: center;

		@media ($mobile) {
			justify-content: center;
			flex-wrap: wrap;
		}

		&:first-child {
			margin-left: 0;
			color: $text-dark;
		}

		span {
			@include font-primary(1.125rem, 300);
			color: $text-dark;
			margin: 0 .2rem;

			&:first-child {
				margin-left: 0;
				color: $text-dark;
			}

			a {
				@include font-primary(1.125rem, 300);
				color: $text-dark;
			}
		}
	}
}

//contact form
.wpcf7 form.invalid .wpcf7-response-output {
	color: $orange-dark;
	border-color: $orange-dark;
	@include font-primary(0.75rem, 500);
}

.wpcf7 form.sent .wpcf7-response-output {
	color: $white;
	@include font-primary(0.75rem, 500);
}