.btn {
    width: 13.4375rem;
    height: 3.8125rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    @include font-primary(1rem, 600);
    text-transform: uppercase;
    border-radius: 0.1875rem;
    transition: all .4s;

    @media ($mobile) {
        width: 13.125rem;
        height: 3rem;
        font-size: 0.875rem;
    }

    &__primary {
        background-color: $primary;
        color: $primary-light;

        @media ($tabletMin) {
            &:hover {
                font-size: 1.0625rem;
                transition: all.4s;
            }
        }
    }

    &__secondary {
        background-color: $primary-light;
        color: $primary;

        @media ($tabletMin) {
            &:hover {
                font-size: 1.0625rem;
                transition: all.4s;
            }
        }
    }

    &__white {
        border: 0.0625rem solid $white;
        color: $white;
    }
}