$white: #ffffff;
$ice: #EEEEF9;
$primary: #053317;
$primary-light: #8CC63F;
$text: #29292E;
$text-light: #7C7C7C;
$text-dark: #676767;
$border: #8B8B8B;
$black: #000000;
$orange-dark:#DE6D28;

$background: #F0F0F0;
$border: #DEDEDE;

$yellow: #FEE44F;