.footer {
    background-color: $primary;
    height: 17.62rem;

    @media ($mobile) {
        height: 33.9rem
    }

    .content__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-top: 3.8881rem;

        @media ($mobile) {
            padding-top: 2.025rem;
        }

        .widget {
            width: auto;

            .sociais {
                margin: 2.5337rem 0 2.4481rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            h3 {
                @include font-primary(0.75rem, 600);
                color: $white;
                text-transform: uppercase;
                margin-bottom: 1.0625rem;
            }

            ul {
                width: 14.125rem;

                li {
                    p {
                        @include font-primary(0.75rem, 400);
                        color: $white;
                        line-height: 1.25rem;
                    }

                    .mail {
                        @include font-primary(0.75rem, 400);
                        color: $white;
                        line-height: 1.25rem;
                    }
                }

                .link {
                    margin-top: 0.625rem;

                    a {
                        @include font-primary(0.75rem, 600);
                        color: $white;
                    }
                }
            }

            .news {
                width: 16.1875rem;

                form,
                .wpcf7-form {
                    .form__row {
                        width: 100%;
                        position: relative;

                        p {
                            position: relative;
                            height: 2.5rem;
                        }

                        .field {
                            background-color: $primary;
                            border: 0.0625rem solid $white;
                            border-radius: 0.25rem;
                            height: 2.5rem;
                            width: 100%;
                            padding-left: 1.25rem;
                            @include font-primary(0.75rem, 400);
                            color: $white;

                            &::placeholder {
                                color: $white;
                            }
                        }

                        .btn__news {
                            width: 3.75rem;
                            height: 2.5rem;
                            top: 0;
                            border-radius: 0px 0.25rem 0.25rem 0px;
                            background-color: $white;
                            @include font-primary(0.625rem, 400);
                            color: $text-dark;
                            text-transform: uppercase;
                            border: none;
                            position: absolute;
                            right: 0;
                        }

                        .label__check {
                            .last {
                                margin: 0.5rem 0 0;

                                label {
                                    display: flex;
                                    align-items: flex-start;

                                    input[name='aceite[]'] {
                                        border: 2px solid $white;
                                        background: transparent;
                                        background-color: $primary;
                                    }

                                    .wpcf7-list-item-label {
                                        color: $white;
                                        @include font-primary(0.625rem, 400);
                                        display: flex;
                                        margin-left: 0.125rem;
                                        position: relative;
                                        bottom: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .copy {
        width: 100%;

        p {
            color: $white;
            text-align: center;
            @include font-primary(0.75rem, 400);
        }
    }

    /* ---- COOKIES -----*/

    .box-cookies.hide {
        display: none !important;
    }

    .box-cookies {
        position: fixed;
        background-color: $black;
        width: 67.4375rem;
        z-index: 998;
        bottom: 0;
        height: 5.5625rem;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        margin: auto;
        padding: 1.5rem 2.125rem 1.625rem 3.125rem;

        @media ($mobile) {
            justify-content: center;
            padding: 1.25rem 0;
            height: 12.4375rem;
            width: 100%;
        }

        .container--cookies {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @media ($mobile) {
                justify-content: center;
                flex-wrap: wrap;
            }

            .text {
                width: 70%;

                @media ($mobile) {
                    width: 19.75rem;
                    margin-left: 0;
                }

                .msg-cookies {
                    @include font-primary(0.875rem, 300);
                    color: $white;
                    line-height: 1.375rem;
                    text-align: center;

                    a {
                        text-decoration: underline;
                    }

                    @media ($mobile) {
                        text-align: center;
                        font-size: 1rem;
                        line-height: 1.375rem;
                        width: 100%;
                        margin-bottom: 1.5rem;
                    }
                }

            }

            .btn__primary {
                border-radius: 0.125rem;
                width: 14.0625rem;

                @media ($mobile) {
                    width: 13.125rem;
                }
            }
        }
    }

    /* ---- COOKIES -----*/
}